<div class="contact-us-container  mb-5">
    <div class="get-in-image">

    </div>
    <div class="contact-info-section container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="content">

                    <img src="./../../../assets/contact-us/contact7.png" alt="" srcset="">
                    <div class="info-text">
                        <h5>Saket, Delhi</h5>
                        <h6>Block L-2 Sangam Vihar New Delhi -110080</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="content">

                    <img src="./../../../assets/contact-us/contact8.png" alt="" srcset="">
                    <div class="info-text">
                        <h5>ramansaini18&commat;gmail.com</h5>
                        <h6>online support</h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="content">

                    <img src="./../../../assets/contact-us/contact9.png" alt="" srcset="">
                    <div class="info-text">
                        <h5>+91 8700838844</h5>
                        <h6>24x7 Customer Support</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-container container mt-5">
        <h2>Have You Any Questions?</h2>
        <h5>
            Please contact us using the form and we’ll get back to you as soon as possible.
        </h5>
        <form class="contact-form" method="post" action="https://formspree.io/f/xleqayod">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <input type="text" name="name" class="input-grp" placeholder="Your Name">
                    <input type="email" name="email" class="input-grp" placeholder="Email Address">
                    <input type="tel" name="phone" class="input-grp" placeholder="Phone">
                    <input type="text" name="location" class="input-grp" placeholder="Location">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <select name="request_type" id="" class="input-grp">
                        <option value="new-connection">New Connection</option>
                        <option value="enquiry">Enquiry</option>
                        <option value="tech_support">Tech Support</option>
                        <option value="leased_line">Leased Line</option>
                    </select>

                    <textarea rows="9" name="comment" class="input-grp" placeholder="Comment"></textarea>
                </div>
            </div>
            <div class="submit-section">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <button type="submit" class="btn-effect submit-btn">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="call-us-section">
        <div class="call-wrapper container">
                <div class="row">

                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 my-auto">
                    <div class="call-text">
                        For the best deals & offers on various plan / For a new Connection
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-auto">
                    
                    <div class="call-btn">
                        <a href="tel: +918700838844"> Call : +91 8700838844</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>