<div class="blog-detail-template">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Blog</a></li>
            <!-- <li class="breadcrumb-item active" aria-current="page"><a href="#">{{blogId}}</a></li> -->
        </ol>
    </nav>
    <div class="blog-content container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="blog-title">
                    Are Fiber Optics Eco-friendly?
                    <div class="created-date">
                        May 1, 2024
                    </div>
                </div>
                <div class="blog-image">
                    <img src="./../../../../../../assets/blog/fiber-cable.png" alt="">
                </div>
                <div class="blog-para">
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

            </div>
        </div>
    </div>
</div>