@import url(./../../../styles.scss);
.navbar-container img{
    width: 85px;
    // width: 100%;
}
.item-container{
    justify-content: flex-end;
}
.item-container ul{
    align-items: center;
    gap: 15px;
}
.item-container li a{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--tertiary-color);

  
}
.item-container .connection-btn{
    background-image: linear-gradient(to top, var(--secondary-color) 50%, var(--primary-color) 50%);
    background-size: 100% 200%;
    transition: background-position 0.3s ease-in-out;
}
.item-container .connection-btn:hover{
    background-position: 0 -100%;
}
.item-container li a:hover{
    color: var(--primary-color);
   
}
.navbar-container{
    // margin: 0px 15px;

}
.logo img{
    image-rendering: crisp-edges;
    width: 100%;
    height: auto;

}
.navbar-container .connection-btn{
    padding: 15px;
    border: none;
    color: #fff;
    border-radius: 30px;
    background-color: var(--primary-color);
}
.navbar-container .connection-btn:hover{
    background-color: var(--secondary-color);
}
.navbar-cus,.changed-header-class{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    // background: #fff;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    .logo img{
        display: none;
    }
}
.initial-header-class{
    position: relative;
    background-color:white;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    .logo img{
        display: block;
    }
    .item-container li a{
        color: var(--secondary-color);
    }
    .item-container li a:hover{
        color: var(--primary-color);
    }
}



@media  screen and (max-width: 566.98px) {

    .initial-header-class{
        position: absolute;
    }
    .navbar-container{
        // padding-bottom: 46px;
        background: #fff;
        position: relative;
    }
    .item-container{
        min-height: 100vh;
    }
    .navbar-cus{
        height: 85px;
    }
    .navbar-cus:has(.item-container.show){
        height: 100vh;
    } 
    .navbar-container img{
        width: 60px;
    }
    .item-container li a{
        color: var(--primary-color);
    }
    .components-content{
        margin-top: 0px;
    }

    .navbar-cus,.changed-header-class{

        .logo img{
            display: block;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 

    .initial-header-class{
        position: absolute;
    }
    .navbar-container{
        padding-bottom: 46px;
        background: #fff;

    }
    
    .navbar-cus{
        height: 85px;
    }
    .item-container{
        min-height: 100vh;
    }
    .item-container li a{
        color: var(--primary-color);
    }
    .components-content{
        margin-top: 0px;
    }
    .logo img{
        display: block;
    }
}