<nav class="navbar navbar-cus navbar-expand-lg">
    <div class="container-fluid navbar-container">
      <a class="navbar-brand logo" href="#">
        
        <img src="./../../../assets/logo/logo-small.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse item-container" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/plans']" routerLinkActive="router-link-active" >Plans </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.speedtest.net/" target="_blank">Speed Test </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/refer-a-friend']">Refer a friend </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/blog']">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/contactUs']">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><button class="connection-btn">Get a saini connection</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>