@import url(./../../../styles.scss);
.navbar-container img{
    width: 85px;
    // width: 100%;
}
.item-container{
    justify-content: flex-end;
}
.item-container ul{
    align-items: center;
    gap: 15px;
}
.item-container li a{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--secondary-color);

  
}
.item-container .connection-btn{
    background-image: linear-gradient(to top, var(--secondary-color) 50%, var(--primary-color) 50%);
    background-size: 100% 200%;
    transition: background-position 0.3s ease-in-out;
}
.item-container .connection-btn:hover{
    background-position: 0 -100%;
}
.item-container li a:hover{
    color: var(--primary-color);
   
}
.navbar-container{
    // margin: 0px 15px;

}
.navbar-container .connection-btn{
    padding: 15px;
    border: none;
    color: #fff;
    border-radius: 30px;
    background-color: var(--primary-color);
}
.navbar-container .connection-btn:hover{
    background-color: var(--secondary-color);
}
.navbar-cus{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

@media  screen and (max-width: 566.98px) {
    .navbar-container{
        padding-bottom: 46px;
    }
    .item-container{
        min-height: 100vh;
    }
    .navbar-cus{
        height: 85px;
    }
    .navbar-cus:has(.item-container.show){
        height: 100vh;
    } 
    .navbar-container img{
        width: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-container{
        padding-bottom: 46px;
    }
    
    .navbar-cus{
        height: 85px;
    }
    .item-container{
        min-height: 100vh;
    }
  
}