<div class="pricing-container container mb-5">
    <div class="call-now">
        <h2>Still! Troubles with Pricing?</h2>
        <h5>Do not worry about it just give us a call +91-8700838844</h5>
        <button type="button"><a href="tel:+918700838844"> Call Now </a></button>
    </div>
    <div class="ott-section ">
        <div class="head">
            <img src="./../../../../../assets/ott-pricing/oott4.webp" alt="" class="img-fluid">
        </div>
        <div class="ott-plans">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="./../../../../../assets/ott-pricing/ottplatinum.webp" alt="" srcset="" class="img-fluid">

                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="./../../../../../assets/ott-pricing/ottplatinumplus.webp" alt="" srcset="" class="img-fluid">


                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="./../../../../../assets/ott-pricing/ottplatinumsuper.webp" alt="" srcset="" class="img-fluid">


                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="./../../../../../assets/ott-pricing/ottsilver.webp" alt="" srcset="" class="img-fluid">

                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="./../../../../../assets/ott-pricing/ottdiamond.webp" alt="" srcset="" class="img-fluid">


                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img src="./../../../../../assets/ott-pricing/ottplatinum.webp" alt="" srcset="" class="img-fluid">


                </div>
            </div>
        </div>

    </div>
    
</div>
<div class="ott-note">
<img src="./../../../../../assets/services/ott-banner.webp" alt="" srcset="">
</div>

