<div class="services">
    <div class="heading">
        <h2>LandLine Services</h2>
    </div>
    <img class="free-call-img" src="./../../../../../assets/services/free-calling-all.webp" alt="" srcset="">
    <div class="explore-section">
        <div class="explore-container container">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <h2 class="mb-5">High Speed Broadband at  Just &#8377;100!</h2>
                    <h6 class="mb-5 sub-heading">Enjoy your favorite TV-Shows and movies with More Options & Unmatched Quality from Delhi’s Top
                        Cable TV Service providers for the last 25 Years</h6>
                    <div class="fall-into mb-5">
                        <h3>FALL INTO OUR EXCITING PLANS!
                        </h3>
                        <h3 class="yellow-q">Enrich Your Digital Life With Us</h3>
                    </div>
                    <button class="explore-btn btn-effect mb-3" (click)="plans()">Explore Now</button>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <img class="right-img" src="./../../../../../assets/services/subscribe_img02.webp" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>