<div class="plans-section mb-3">
    <div class="headding">
        <h1>Discover Our Best Monthly Plans</h1>

    </div>
    <div class="plan-cards container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="card text-center plans-card ">
                    <div class="plans-card-heading">
                        <div class="plan-header-logo">

                        </div>
                        <!-- <div class="plan-name">
                            <h2>Silver Plan</h2>

                        </div> -->
                        <div class="amount">
                            <h2>&#8377;450</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="features">
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> 100
                                Mbps Speed</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Unlimited Internet</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Installation charges</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Security</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> GST
                                will be extra applicable</li>
                        </ul>

                    </div>
                    <div class="card-footer text-body-secondary">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="card text-center plans-card ">
                    <div class="plans-card-heading">
                        <div class="plan-header-logo">

                        </div>
                        <!-- <div class="plan-name">
                                <h2>Silver Plan</h2>

                            </div> -->
                        <div class="amount">
                            <h2>&#8377;520</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="features">
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> 200
                                Mbps Speed</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Unlimited
                                Internet</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Installation charges</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Security</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> GST
                                will be extra applicable</li>
                        </ul>

                    </div>
                    <div class="card-footer text-body-secondary">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="card text-center plans-card ">
                    <div class="plans-card-heading">
                        <div class="plan-header-logo">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500"
                                    preserveAspectRatio="xMidYMid meet" version="1.0">
                                    <defs>
                                        <clipPath id="5ec01e3131">
                                            <path
                                                d="M 169 65.527344 L 334.324219 65.527344 L 334.324219 309.277344 L 169 309.277344 Z M 169 65.527344 "
                                                clip-rule="nonzero" />
                                        </clipPath>
                                        <clipPath id="202023d228">
                                            <path
                                                d="M 123 65.527344 L 334.324219 65.527344 L 334.324219 274 L 123 274 Z M 123 65.527344 "
                                                clip-rule="nonzero" />
                                        </clipPath>
                                        <clipPath id="c3b501dac8">
                                            <path
                                                d="M 40.324219 65.527344 L 334.324219 65.527344 L 334.324219 210 L 40.324219 210 Z M 40.324219 65.527344 "
                                                clip-rule="nonzero" />
                                        </clipPath>
                                        <clipPath id="3a768ca806">
                                            <path
                                                d="M 153 65.527344 L 334.324219 65.527344 L 334.324219 242 L 153 242 Z M 153 65.527344 "
                                                clip-rule="nonzero" />
                                        </clipPath>
                                    </defs>
                                    <g clip-path="url(#5ec01e3131)">
                                        <path fill="#8c52ff6e"
                                            d="M 169.691406 241.914062 L 231.9375 309.382812 L 334.660156 65.605469 L 169.691406 241.914062 "
                                            fill-opacity="1" fill-rule="nonzero" />
                                    </g>
                                    <g clip-path="url(#202023d228)">
                                        <path fill="#0c29507d"
                                            d="M 334.660156 65.605469 L 123.410156 209.972656 L 144.949219 273.894531 L 153.058594 223.992188 L 334.660156 65.605469 "
                                            fill-opacity="1" fill-rule="nonzero" />
                                    </g>
                                    <g clip-path="url(#c3b501dac8)">
                                        <path fill="#8c52ff6e"
                                            d="M 40.316406 186.863281 L 123.410156 209.972656 L 334.660156 65.605469 L 40.316406 186.863281 "
                                            fill-opacity="1" fill-rule="nonzero" />
                                    </g>
                                    <path fill="#8c52ff6e"
                                        d="M 144.949219 273.894531 L 169.691406 241.914062 L 153.058594 223.992188 Z M 144.949219 273.894531 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                    <g clip-path="url(#3a768ca806)">
                                        <path fill="#0c29507d"
                                            d="M 153.058594 223.992188 L 169.691406 241.914062 L 334.660156 65.605469 L 153.058594 223.992188 "
                                            fill-opacity="1" fill-rule="nonzero" />
                                    </g>
                                </svg> -->
                        </div>
                        <!-- <div class="plan-name">
                                <h2>Silver Plan</h2>

                            </div> -->
                        <div class="amount">
                            <h2>&#8377;700</h2>

                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="features">
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> 300
                                Mbps Speed</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Unlimited Internet</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Installation charges</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Security</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> GST
                                will be extra applicable</li>
                        </ul>

                    </div>
                    <div class="card-footer text-body-secondary">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="card text-center plans-card ">
                    <div class="plans-card-heading">
                        <div class="plan-header-logo">

                        </div>
                        <!-- <div class="plan-name">
                                <h2>Silver Plan</h2>

                            </div> -->
                        <div class="amount">
                            <h2>&#8377;1000</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="features">
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> 500
                                Mbps Speed</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Unlimited Internet</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Installation charges</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Security</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> GST
                                will be extra applicable</li>
                        </ul>

                    </div>
                    <div class="card-footer text-body-secondary">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="plans-section">
    <div class="headding">
        <h1>Discover Our Best Yearly Plans</h1>

    </div>
    <div class="plan-cards container-fluid">
        <div class="row" style="width: 100%;">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 "></div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="card text-center plans-card ">
                    <div class="plans-card-heading">
                        <div class="plan-header-logo">

                        </div>
                        <!-- <div class="plan-name">
                            <h2>Silver Plan</h2>

                        </div> -->
                        <div class="amount">
                            <h2>&#8377;5600  </h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="features">
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> 200
                                Mbps Speed</li>
                                <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Free Router</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Unlimited
                                Internet</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Installation charges</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Security</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> GST
                                will be extra applicable</li>
                           
                        </ul>

                    </div>
                    <div class="card-footer text-body-secondary">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                <div class="card text-center plans-card ">
                    <div class="plans-card-heading">
                        <div class="plan-header-logo">

                        </div>
                        <!-- <div class="plan-name">
                            <h2>Silver Plan</h2>

                        </div> -->
                        <div class="amount">
                            <h2>&#8377;5800 </h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="features">
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> 300
                                Mbps Speed</li>
                                <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Free Router</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> Unlimited Internet</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Installation charges</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> No
                                Security</li>
                            <li><img src="./../../../../../assets/plan-logo/checkmark-fill.webp" alt="" srcset=""> GST
                                will be extra applicable</li>
                           
                        </ul>

                    </div>
                    <div class="card-footer text-body-secondary">

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 "></div>




        </div>
    </div>
</div>