.plans-section .headding{
    display: flex;
    justify-content: center;
    align-items: center;

}
.plans-section .headding h3{
    font-weight: 600;
}
.plans-section .plans-card{
    border-radius: 0px;
    border: none;
    // width: 300px;
    padding: 25px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;

    background-image: linear-gradient(to bottom, #0c2950, #221d39, #211324, #180a13, #000000);
}
.plans-section .plans-card .plans-card-heading{

}
.plans-card-heading .plan-header-logo svg{
    width: 100px;
    border: 5px solid;
    border-radius: 50%;
    height: 100px;
    border-color: var(--circle-color);
    padding: 8px;
}

.plans-card-heading .plan-name,.plan-name h2{
    text-transform: uppercase;
    font-weight: 700;
}
.features{
    // padding: 20px;
    padding-left: 0px;
}
.features li{
    font-weight: 600;
    text-align: left;
    list-style: none;
    line-height: 3;
    font-size: 14px;
    // color: #848484;
    color: #fff;
    border-bottom: 1px dashed #dddddd;
    // list-style-image:url('./../../../../../assets/plan-logo/checkmark-fill.webp');
}
.features li img{
    width: 16px;
    padding-right: 3px;
}
.plan-cards{
    display: flex;
    justify-content: center;
    
}
.amount {
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
}
.amount h2{
    font-weight: 800;
}
