<div class="container refer-section">
    <div class="heading">
        <h1>Refer A Friend</h1>
        <h6>Refer a friend and earn a ₹100 cashback! Invite your friends today and enjoy the benefits of our referral program.  </h6>
    </div>

        <div class="refer-container">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

                    <div class="left-section">
                        <img src="./../../../assets/refer-a-friend/refer-a-friend-2.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

                    <div class="right-section">
                        <form class="contact-form" method="post" action="https://formspree.io/f/xjvnqpqr">
                            <h4 style="text-align: center;">Fill and get <span>₹100</span>  cashback!</h4>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-6 col-xl-6">
                                    <input type="text" name="name" class="input-grp" placeholder="Referral Name">
                                    <input type="email" name="email" class="input-grp" placeholder="Referral Email">
                                    <input type="tel" name="referralPhone" class="input-grp" placeholder="Referral Phone">
                                </div> 
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <input type="text" name="area" class="input-grp" placeholder="Referral Area">
                                    <input type="text" name="areaPinCode" class="input-grp" placeholder="Area Pincode">
                                    <input type="tel" name="userPhone" class="input-grp" placeholder="Your Phone">
                                 
                
                                </div>
                            </div>
                            <div class="submit-section">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <button type="submit" class="btn-effect submit-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>