<div class="blog-section">
    <div class="heading">
        <img src="./../../../assets/blog/blog-header.png" alt="">
    </div>

    <div class="blog-card-container container">
        <a  style="text-decoration: none; color: #0000">
            <div class="blog-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 blog-thumbnail">
                        <img src="./../../../assets/blog/fiber-cable.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Are Fiber Optics Eco-friendly?</h5>
                            <p class="card-text">The recent awakening concerning our society and its environmental
                                impacts
                                has highlighted many items we produce. Plastics have always been at the forefront of
                                this
                                debate, especially how the raw materials for their production are obtained. Mining
                                worldwide
                                has long been a subject of controversy, mainly due to its environmental impact, but also
                                because of human rights issues <a class="read-more">... Read More</a></p>
                            <p class="card-text"><small class="text-muted"><span>
                                        <svg _ngcontent-serverApp-c101="" xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" viewBox="0 0 24 24" style="fill: currentColor;">
                                            <path _ngcontent-serverApp-c101=""
                                                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                            </path>
                                            <path _ngcontent-serverApp-c101=""
                                                d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path>
                                        </svg>
                                    </span> May 1, 2024</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a  style="text-decoration: none; color: #0000">
            <div class="blog-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 blog-thumbnail">
                        <img src="./../../../assets/blog/phone.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">How to Work in IT Asynchronously</h5>
                            <p class="card-text">At this point, we all know the story of the pandemic and the changes it
                                brought to the future of work. Perhaps at the top of the list of changes is the growth
                                and
                                permanence of IT hybrid work. Recent data seems to support the premise that it is here
                                to
                                stay. <a class="read-more">... Read More</a></p>
                            <p class="card-text"><small class="text-muted"><span>
                                        <svg _ngcontent-serverApp-c101="" xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" viewBox="0 0 24 24" style="fill: currentColor;">
                                            <path _ngcontent-serverApp-c101=""
                                                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                            </path>
                                            <path _ngcontent-serverApp-c101=""
                                                d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path>
                                        </svg>
                                    </span> May 1, 2024</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a  style="text-decoration: none; color: #0000">

            <div class="blog-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 blog-thumbnail">
                        <img src="./../../../assets/blog/weather.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">The Effects of Weather on Internet ISPs</h5>
                            <p class="card-text">The effects of weather on Internet have been a concern since the
                                earliest
                                days of world-wide connectivity. Although modern components and networks have evolved
                                and
                                become more reliable, weather can still have an impact on Internet performance and
                                uptime.
                                Unfortunately, many companies do not factor this into their considerations when making
                                decisions about the Internet and networking. <a class="read-more">... Read More</a></p>
                            <p class="card-text"><small class="text-muted"><span>
                                        <svg _ngcontent-serverApp-c101="" xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" viewBox="0 0 24 24" style="fill: currentColor;">
                                            <path _ngcontent-serverApp-c101=""
                                                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                            </path>
                                            <path _ngcontent-serverApp-c101=""
                                                d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path>
                                        </svg>
                                    </span> May 1, 2024</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a  style="text-decoration: none; color: #0000">

            <div class="blog-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 blog-thumbnail">
                        <img src="./../../../assets/blog/thiking.png" class="card-img-top img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">How are Fixed Wireless and Satellite different?</h5>
                            <p class="card-text">To many consumers, fixed wireless and satellite Internet are basically
                                the
                                same. Both do away with the need for a cable or wired connection running into your home
                                or
                                business from an ISP, right? While both do eliminate the outside ground infrastructure
                                of
                                cables, this is where the similarity ends. <a class="read-more">... Read More</a></p>
                            <p class="card-text"><small class="text-muted"><span>
                                        <svg _ngcontent-serverApp-c101="" xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" viewBox="0 0 24 24" style="fill: currentColor;">
                                            <path _ngcontent-serverApp-c101=""
                                                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                            </path>
                                            <path _ngcontent-serverApp-c101=""
                                                d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path>
                                        </svg>
                                    </span> May 1, 2024</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a  style="text-decoration: none; color: #0000">

            <div class="blog-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 blog-thumbnail">
                        <img src="./../../../assets/blog/bandwidth.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">How to Understand Your Bandwidth Speed Needs?</h5>
                            <p class="card-text">Ah, that magic word — bandwidth! In our mega-connected world,
                                businesses
                                and users need it, crave it, shop for the best offerings of it, even while most
                                misunderstand it. More is the catchword. We need more bandwidth to grow our operations!
                                We
                                need more bandwidth to improve the consumer experience! We need more bandwidth to
                                process
                                transactions faster than our competitors! Do you — really? <a class="read-more">... Read
                                    More</a></p>
                            <p class="card-text"><small class="text-muted"><span>
                                        <svg _ngcontent-serverApp-c101="" xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" viewBox="0 0 24 24" style="fill: currentColor;">
                                            <path _ngcontent-serverApp-c101=""
                                                d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                            </path>
                                            <path _ngcontent-serverApp-c101=""
                                                d="M13 7h-2v5.414l3.293 3.293 1.414-1.414L13 11.586z"></path>
                                        </svg>
                                    </span> May 1, 2024</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>