<div class="blog-list-section mt-3">
    <div class="main-blog-container">

            <div class="blue-box-container">
                <div class="blue-box-content">
                    <a  class="heading ln" href="">Top 10 Benefits of Wi-Fi Technology
                    </a>
                    <button  (click)="goToBlog('top-10-benifits-of-wifi-technology')" class="btn-effect blog-read-more-btn">
                        <a  class="ln">Read More</a>
                    </button>
                </div>
            </div>
            <div class="blog-banner">
                <img src="./../../../assets/blog/Benefits-of-Wi-Fi-Technology.jpg" alt="benifits-of-wifi-technology">
            </div>
    </div>
</div>