<section class="blog-list-section container-fluid ">
  <div class="main-blog-container">

    <section class="blog-heading">
      <!-- <h1>The Blog</h1> -->
    </section>

    <div class="image-section-container">

      <div class="image-section mb-5">

        <section class="card-section container mb-5">

          <div class="row">

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
              <div class="card blog-card" style="width: 20rem;">
                <a class="blog-card-link" href="/blog/top-10-benifits-of-wifi-technology">

                  <figure>

                    <img class="card-img-top" src="./../../../assets/blog/top-10-wifi.png" alt="Card image cap">
                  </figure>
                  <div class="card-body blog-card-body">
                    <h5 class="card-title blog-card-title">Top 10 Benefits of Wi-Fi Technology</h5>
                    <p class="card-text blog-card-text">Today, Wi-Fi is changing our world! It makes e­very place a
                      hotspot, home, office­, or public area.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </a>
              </div>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
              <div class="card blog-card" style="width: 20rem;">
                <a class="blog-card-link" href="/blog/top-10-benifits-of-wifi-technology">

                  <figure>

                    <img class="card-img-top" src="./../../../assets/blog/phone.png" alt="Card image cap">
                  </figure>
                  <div class="card-body blog-card-body">
                    <h5 class="card-title blog-card-title">Top  kk10 Benefits of Wi-Fi Technology</h5>
                    <p class="card-text blog-card-text">Today, Wi-Fi is changing our world! It makes e­very place a
                      hotspot, home, office­, or public area.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </a>
              </div>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="card blog-card" style="width: 20rem;">
                <a class="blog-card-link" href="/blog/top-10-benifits-of-wifi-technology">

                  <figure>

                    <img class="card-img-top" src="./../../../assets/blog/service.png" alt="Card image cap">
                  </figure>
                  <div class="card-body blog-card-body">
                    <h5 class="card-title blog-card-title">Top 10 Benefits of Wi-Fi Technology</h5>
                    <p class="card-text blog-card-text">Today, Wi-Fi is changing our world! It makes e­very place a
                      hotspot, home, office­, or public area.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </a>
              </div>

            </div>
          </div>

        </section>
      </div>
    </div>







  </div>


</section>
